  form {
    max-width: 600px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff; /* Set the background color if needed */
    margin: 0px 0px 20px 0px;
  } 

  button {
    width: 20%;
    margin: 10px 2px 2px 20px;
  
  }

  .button-container {
    display: flex;
  }